.sidebar-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.new-chat-btn {
	margin-left: 2px;
}

/* Applies styles when the viewport width is smaller than 1346px */
@media (max-width: 1346px) {
	.new-chat-btn {
		margin-left: initial;
	}
}
